.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__column {
    flex: 1;
    margin: 10px;
}

.footer__title {
    margin-bottom: 10px;
}

.footer__social-icons .footer__social-icon {
    color: #7ac7b8;
    font-size: 20px;
    margin-right: 10px;
}

.footer__text-email{
    color: #7ac7b8;
    text-decoration: none;
}

.footer__text-email:hover{
    text-decoration: underline;
}

.footer__bottom {
    text-align: center;
    padding-top: 20px;
}